@import "tailwindcss";

.active{
  border-bottom: 2px solid rgba(99, 46, 227, 1);
  font-weight: 600 !important;
    background: linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
}

button{
  cursor: pointer;
}

.card{
  position: relative;
}

.card:hover{
  transform: translateY(-10px) scale(1.05);
  transition: 0.3s ease;
  box-shadow: 1px 1px 50px rgba(93, 153, 196, 0.418);
  cursor: pointer;
}