@import "tailwindcss";

.active{
  border-bottom: 2px solid rgba(99, 46, 227, 1);
  font-weight: 600 !important;
    background: linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
}